/* Styling for the global navigation bar */
#global-navbar {
    background-color: black;
    width:auto;
}

#global-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0px;
}


#global-navbar ul a {
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    font-size: large;
    text-decoration: none;
    width: 16.66%;
    justify-content: center;
    display: flex;
}

#global-navbar ul a li {
    overflow:hidden;
    text-overflow: ellipsis;
}
