*{
    scroll-behavior: smooth !important;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1{
    font-family: 'Lumanosimo', 'cursive';
    margin: auto;
    font-size: 150px;
    padding: 150px;
}
h2{
    font-family: 'Lumanosimo', 'cursive';
    font-size: 50px;
}

p{
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.intro-div,.history-div,.fort-div,.traveller-div{
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.img-div{
    height: 90%;
    width: 50%;
    filter: drop-shadow(1px 0px 11px #0000009c);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.img-div img{
    height: 100%;
    width: auto;
}
/*--------------------------------------------------*/
.intro-div{
    background-color:  rgb(44, 44, 44);
    padding: 20px 0 20px 0;
}
#intro-img-div{
    width: 40%;
} 
#intro-img-div img{
    width: 100%;
    height: auto;
}
.intro-details{
    width: 50%;
    color: aliceblue;
}
/*----------------------------------------------------*/
#history-img-div{
    width: 50%;
}
.history-details{
    width: 40%;
}
/*----------------------------------------------------*/
.fort-div{
    background-color:  rgb(44, 44, 44);
    padding: 20px 0 20px 0;
}
#fort-img-div{
    width: 20%;
}
.fort-details{
    width: 60%;
    color: aliceblue;
}
/*----------------------------------------------------*/
#traveller-img-div{
    width: 40%;
}
#traveller-img-div img{
    width: 100%;
    height: auto;
}
.traveller-details{
    width: 50%;
}
/*-------------------------------------------------*/

.nav-btns{
    margin: auto;
    margin-bottom: 20px;
}

.nav-btns label{
    font-family:'Manrope', sans-serif ;
    padding: 10px 20px;
    border-radius: 30px;
    color: aliceblue;
    background-color:rgb(44, 44, 44) ;
    cursor: pointer;
    transition: padding 0.3s;
}
.nav-btns label:hover{
    padding: 10px 30px;
}

a{
    text-decoration: none;
}

/*------------- Page Editor --------------------*/

.page_editor{
    font-family:'Manrope', sans-serif ;
    padding: 10px 20px;
    margin: 0 20px;
    background-color: #4e4e4e;
    border: 2px solid #4e4e4e;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}
.page_editor:hover{
    
    background-color: aliceblue;
    color: #4e4e4e;
}