*{
  scroll-behavior: smooth; 
}

h1{
    font-family: 'Lumanosimo', 'cursive';
    margin: auto;
    font-size: 150px;
    padding: 150px;  
    text-align: center;
    font-weight: bold;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    margin: 20px 5px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4e4e4e;
    color: aliceblue;
    transition: all 0.3s;
}
.menu a:hover{
    padding: 10px 25px;
}
.menu-title{
    font-family: 'Lumanosimo', 'cursive';
    padding: 80px 0px;
}

.article-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 20px ;
}
/*---------------------------------------------*/
.intro-div , .traveler-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 10px 20px;
}
.intro-div .image-div , .traveler-div .image-div{
    width: 40%;
    overflow: hidden;
}
.intro-div .detail-div , .traveler-div .detail-div{
    width: 60%;
}
.intro-div .image-div img , .traveler-div .image-div img{
    width: 90%;
}
/*-------------------------------------------*/
.history-div ,.features-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 100vh;
}
.history-div .image-div , .features-div .image-div{
    width: 50%;
    overflow: hidden;
}
.history-div .image-div img,.features-div .image-div img{
    width: 100%;
    margin: 0;
}
.history-div .detail-div , .features-div .detail-div{
    text-align: center;
}
/*----------------------------------------------*/
.intro-div , .features-div{
    background-color: #4e4e4e;
}

.intro-div .detail-div ,.features-div .detail-div{
    color: aliceblue;
}
.features-div{
   height: 150vh;
}
.features-div p{
    text-align: justify;
}

/* .menu ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
    list-style-type: none;
}

.menu ol li{
    flex: 15%;
    font-size: larger;
    border-radius: 10px;
    padding: 5px 10px;
    background-color:  rgba(7, 0, 0, 0.879);
    transition: all 0.3s;
}
.menu ol li:hover{
    padding: 5px 20px;
}
.intro-div{
    background-color:  rgb(14, 12, 12);
    padding: 20px 0 20px 0;
}
#intro-img-div{
    width: 50%;
    float: right;
} 
#intro-img-div img{
    width: 100%;
    height: auto;
}
#intro{
    width: 50%;
    color: aliceblue;
}

#history-img-div{
    width: 50%;
    float: right;
}
#history-img-div img{
    width: 100%;
    height: auto;
}
.history{
    width: 40%;
}

.features-div{
    background-color:  rgb(14, 12, 12);
    padding: 20px 0 20px 0;
}
#features-img-div{
    width: 20%;
    height: 20%;
    float: left;
}
#features{
    width: 60%;
    color: aliceblue;
}

#traveler-img-div{
    width: 40%;
    float: left;
}

.traveler-details{
    width: 50%;
}
h1{
    font-family: 'Lumanosimo', 'cursive';
    margin: auto;
    font-size: 150px;
    padding: 150px;  
    text-align: center;
    font-weight: bold;
}
img{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2{
    font-family: 'Lumanosimo', 'cursive';
    font-size: 50px;
}
h3{
    font-family: 'Lumanosimo', 'cursive';
    font-size: 30px; 
}
p.block{
    font: 2em sans-serif;
} */

