body, html{
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Bangers";
    letter-spacing: 5px;
    display: flex;
    font-size: 48pt;
    justify-content: center;
}

.title img {
    width: 50%;
    height: auto;
}
